*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color: #333;
	height: 3em;
	color: #FFF;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
    margin-top: 2em;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
    color: rgb(65, 182, 182);
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
}

.cabecalho__tabela {
    background-color: rgb(65, 182, 182);
    height: 40px;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
    font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}


.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:rgb(65, 182, 163);
    border-radius: 2px;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}


button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido {
	background-color: lightcoral;
}

#mensagens-erro {
	color: red;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel {
	display: none;
}


.menu__lateral {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: aliceblue;
    width: 8vw;
    height: 100vh;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 660px) {
    .menu-lateral {
        left: -100vw;
    }

    .cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }

    .menu__lateral {
        display: flex;
        flex-direction: column;
        width: 65vw;
        height: 100vh;
        position: absolute;
        left: -100vw;
        transition: .25s;
    }

    .menu-lateral--ativo {
        left: 0;
        transition: .25s;
    }

    .cabecalho__menu i::before {
        content: "\e904";
        font-size: 24px;
    }

    .secao {
        display: flex;
        flex-direction: column;
    }

    .cartao {
        margin-top: 10px;
    }
}

.cabecalho__menu {
    display: none;
}

@media (min-width: 600px) and (max-width: 1200px) {
    .menu__lateral {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: aliceblue;
        width: 12vw;
        height: 100vh;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
    }
    
    .secao {
        display: flex;
        flex-direction: column;
    }
}


.menu-lateral__link {
    height: 64px;
    color: rgb(65, 182, 182);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin-top: 14px;
    padding-left: 34px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(65, 182, 182, 0.20);
}

.menu-lateral__link:hover {
    border-left: 8px solid rgb(65, 182, 182);
    transition: .3s;
    cursor: pointer;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    height: 60px;
    font-family: 'Lato', sans-serif;
}


@media screen and (min-width: 1440px) {
    .menu-lateral {
        position: static;
        width: 200px;
        grid-column: 1;
        grid-row: 1 / span 2;
    }
}



.cabecalho__title {
    font-weight: 600;
    font-family: 'Lato', sans-serif;

    font-size: 24px;
    color: rgb(65, 182, 182);
    text-decoration: none;
    
}

.cabecalho__usuario {
    font-weight: 700;
    font-family: 'Arial';
    font-size: 14px;
    color: rgb(65, 182, 182);
}