/* Início estilo cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    height: 60px;
}

.cabecalho__title {
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: rgb(65, 182, 182);
    text-decoration: none;
}

.cabecalho__usuario {
    font-weight: 700;
    font-family: 'Arial';
    font-size: 14px;
    color: rgb(65, 182, 182);
}
/* Fim estilo cabeçalho */

/* Início estilo Menu Lateral */
.menu__lateral {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: aliceblue;
    width: 8vw;
    height: 100vh;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);

}

.menu-lateral__link {
    height: 64px;
    color: rgb(65, 182, 182);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    margin-top: 14px;
    padding-left: 34px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(65, 182, 182, 0.20);
}

.menu-lateral__link:hover {
    border-left: 8px solid rgb(65, 182, 182);
    transition: .3s;
    cursor: pointer;
}
/* Fim estilo Menu Lateral */


/* Início estilo Tabela de Notas */
.tabela {
    margin: auto;
    margin-top: 18px;
    border-collapse: collapse;
    border: 1px solid rgba(65, 182, 182, );
    width: 1100px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}

.container__title {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(65, 182, 182);
}

.cabecalho__tabela {
    background-color: rgb(65, 182, 182);
    height: 40px;
}

.cabecalho-tabela__item {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding: 12px;
    text-align: center;
    width: 120px;
}

.tabela__linha {
    height: 40px;
    width: 120px;
    background-color: aliceblue;
}

.tabela-linha__item {
    border-bottom: 1px solid rgba(65, 182, 182, 0.20);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 12px;

}

.tabela-linha__item-status {
    border-bottom: 1px solid rgba(65, 182, 182, 0.20);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 12px;
    color: rgb(49, 214, 49);
}
/* Fim estilo Tabela de Notas */